body {
    background-color: #1f253d;
    height: 100vh;
    font-family: arial, sans-serif;
    align-items: center;
    justify-content: center;
  }
  
.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}

.avatar-xs {
    height: 2.3rem;
    width: 2.3rem;
}