.BoxDossiers {
    display: block ruby;
    border: grey;
    width: 95%;
    border-style: double;
    border-width: 8px;
    border-radius: 10px;
    margin: 50;
    margin-top: 15;
    height: 60%;
}

.boxBoutons {
height:50px;
width: 100%;
margin: 25 50 -10 ;
display: inline-block;
}

.imageDossier {
    height: 150px;
    width: 150px;
}

.boutonSupp {
    position: absolute;

}

.button-34 {
width: 175px;
margin-left: 10px;
height: 50px;
}

.fiche {
    height: 150px;
    width: 150px;
}

figcaption {
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    height: 20px;
    width: 150px;
    text-align: center;
}
figure {
    display : inline-block;
    max-width: 150px;

}
