@media print {
    nav,
    footer,
    #modifieurs,
    .flex-col-md-6,
    button {
        display: none;
    }
     :link {
        display: none;
    }
    body {
        margin: 0;
    }
    .divVraiOuFaux {
        border: none;
    }
    .inputVraiF {
        border: none;
    }
    #page {
        border: none;
    }
    @page {
        margin: 0;
        padding: 0;
    }
}