/*Body */

body {
    overflow-y: scroll;
    background-color: #1d1f26;
    background-size: 1920px 1080px;
    max-height: 1080px;
    max-width: 1920px;
}


/*fin body*/


/*Accordeon*/

@media (min-width: 1920px) {
    .flex-container {
        max-width: 1920px;
        margin-top: 40;
    }
}

.flex-row {
    display: flex;
    margin-bottom: 1em;
    width: 80%;
}

.flex-column {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.flex-col-md-6 {
    box-sizing: border-box;
    padding: 1em;
}

@media (min-width: 992px) {
    .flex-col-md-6 {
        max-width: calc(100% * (6 / 12));
        width: calc(100% * (6 / 12));
    }
}

.flex-col-xs-12 {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    width: calc(100% * (12 / 12));
    max-width: calc(100% * (12/ 12));
}

.acc {
    display: none;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}


/*fin Accordeon*/


/*Questions dans accordeaons*/

.content {
    box-sizing: border-box;
    font-size: 0.9em;
    max-height: 0;
    overflow: hidden;
    transition: max-height, .5s;
    position: static;
}

.questions {
    margin-top: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height, .5s;
    margin-left: 10px;
}

.questions label {
    border: none;
    box-shadow: none;
    margin: 0;
}

.questions .content {
    padding-bottom: 20px
}

label .accordion-heading {
    width: 100%;
    line-height: 45px;
    margin-left: 10px;
    font-size: 1.2em;
}

.cross-box {
    height: 30px;
    width: 25px;
    background-color: #0098db;
    margin-top: 9px;
}

.cross {
    margin-right: 15px;
    margin-top: 3px;
}

.panel {
    box-shadow: 5px 3px 12px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 33px;
    box-sizing: border-box;
    padding: 30px;
    background-color: lightgrey;
    width: 65%;
}

.labelEditionExo {
    display: flex;
    width: 100%;
    cursor: pointer;
    user-select: none;
    margin: 0;
}


/********************/


/* pseudos elements */


/**********************/

.content:before {
    content: '';
    width: 10px;
    display: block;
    margin-top: 15px;
    transition: 0.3s;
    margin-left: 6px;
}

.cross:before,
.cross:after {
    content: '';
    border-top: 2px solid #ffffff;
    width: 12px;
    display: block;
    margin-top: 15px;
    transition: 0.3s;
    margin-left: 5px;
}

.cross:after {
    transform: rotate(90deg);
    margin-top: -2px;
}


/********************/


/* check states */


/**********************/

input:checked~.content {
    max-height: 1000px;
    transition: max-height, 1s;
}

input:checked~label .cross-box {
    background-color: #93c04d;
}

input:checked~label .cross:before {
    transform: rotate(180deg);
}

input:checked~label .cross:after {
    transform: rotate(0deg);
}

input:checked~.questions {
    max-height: 600px;
    transition: 1s;
}

.input {
    margin-top: 5;
}


/*draggable*/

#droppable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    float: left;
    margin: 10px;
    
}

.draggable,
#draggable-nonvalid {
    width: 90px;
    height: 90px;
    display: inline-block;

}

.dropp2 {
    width: 200px;
    height: 40px;
    border: 1px solid black;
    float: center;
    background-color: green;
}


/*fin draggable*/

page {
    background: white;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    border: solid black;
}

page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

@media print {
    body,
    page {
        margin: 0;
        box-shadow: 0;
    }
}

.flex-container {
    margin-top: 30px;
}


/*changefont*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.listeDeroulante {
    margin: 5px;
    padding: 5px;
    display: inline-block;
}

.select {
    position: absolute;
}


/*fin changefont*/


/*bouton change taille font*/

#up {
    width: 30px;
    height: 30px;
    margin-left: 125px;
}

#down {
    width: 30px;
    height: 30px;
}


/*fin bouton change taille font*/


/* CSS */

.button-34 {
    background: #0098db;
    border-radius: 999px;
    box-shadow: #0098db 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

.supprimer {
    margin-left: 5%;
    font-size: smaller;
}