/*Body */

body {
    overflow-y: scroll;
    background-color: #1d1f26;
    background-size: 1920px 1080px;
    max-height: 1080px;
    max-width: 1920px;
}


/*fin body*/


/*Accordeon*/

@media (min-width: 1920px) {
    .flex-container {
        max-width: 1920px;
    }
}

.flex-row {
    display: flex;
    margin-bottom: 1em;
    width: 80%;
}

.flex-column {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.flex-col-md-6 {
    box-sizing: border-box;
    padding: 1em;
}

@media (min-width: 992px) {
    .flex-col-md-6 {
        max-width: calc(100% * (6 / 12));
        width: calc(100% * (6 / 12));
    }
}

.flex-col-xs-12 {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    width: calc(100% * (12 / 12));
    max-width: calc(100% * (12/ 12));
}

.acc {
    display: none;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}


/*fin Accordeon*/


.content {
    box-sizing: border-box;
    font-size: 0.9em;
    max-height: 0;
    overflow: hidden;
    transition: max-height, .5s;
    position: static;
}

.questions {
    margin-top: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height, .5s;
    margin-left: 10px;
}

.questions label {
    border: none;
    box-shadow: none;
    margin: 0;
}

.questions .content {
    padding-bottom: 20px
}

label .accordion-heading {
    width: 100%;
    line-height: 45px;
    margin-left: 10px;
    font-size: 1.2em;
}

.cross-box {
    height: 30px;
    width: 25px;
    background-color: #0098db;
    margin-top: 9px;
}

.cross {
    margin-right: 15px;
    margin-top: 3px;
}

.panel {
    box-shadow: 5px 3px 12px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 33px;
    box-sizing: border-box;
    padding: 30px;
    background-color: lightgrey;
    width: 65%;
}

.labelEditionExo {
    display: flex;
    width: 100%;
    cursor: pointer;
    user-select: none;
    margin: 0;
}


/********************/


/* pseudos elements */


/**********************/

.content:before {
    content: '';
    width: 10px;
    display: block;
    margin-top: 15px;
    transition: 0.3s;
    margin-left: 6px;
}

.cross:before,
.cross:after {
    content: '';
    border-top: 2px solid #ffffff;
    width: 12px;
    display: block;
    margin-top: 15px;
    transition: 0.3s;
    margin-left: 5px;
}

.cross:after {
    transform: rotate(90deg);
    margin-top: -2px;
}


/********************/


/* check states */


/**********************/

input:checked~.content {
    max-height: 400px;
    transition: max-height, 1s;
}

input:checked~label .cross-box {
    background-color: #93c04d;
}

input:checked~label .cross:before {
    transform: rotate(180deg);
}

input:checked~label .cross:after {
    transform: rotate(0deg);
}

input:checked~.questions {
    max-height: 600px;
    transition: 1s;
}


/*draggable*/

#droppable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    float: left;
    margin: 10px;
}

.draggable,
#draggable-nonvalid {
    width: 100px;
    height: 100px;
    padding: 0.5em;
    float: left;
    margin: 10px 10px 10px 0;
}



.dropp2 {
    width: 200px;
    height: 40px;
    border: 1px solid black;
    float: center;
    background-color: green;
}


/*fin draggable*/

page {
    background: white;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    border:  solid black;
}

page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

@media print {
    body,
    page {
        margin: 0;
        box-shadow: 0;
    }
}


/*changefont*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.listeDeroulante {
    margin: 5px;
    padding: 5px;
    display: inline-block;
}

.select {
    position: absolute;
}


/*fin changefont*/


/*bouton change taille font*/

#up {
    width: 30px;
    height: 30px;
    margin-left: 125px;
}

#down {
    width: 30px;
    height: 30px;
}


/*fin bouton change taille font*/

#tt1 {
    border: solid #0098db 10px;
    height: 40px;
    width: 40px;
}

#tt2 {
    border: solid palevioletred 10px;
    height: 40px;
    width: 40px;
}

.save-icon {
    position: relative;
    background: white;
    height: 40px;
    width: 35px;
    display: block;
    padding-top: 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.save-icon:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 10px 10px 0;
    border-style: solid;
    border-color: #a4a6a7 #3c4145;
}

.save-icon:after {
    content: "✓";
    color: green;
    font-size: 30px;
    position: absolute;
    top: 15%;
    left: 20%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    -webkit-animation: pop 0.5s 3s forwards;
    -moz-animation: pop 0.5s 3s forwards;
    animation: pop 0.5s 3s forwards;
}

.loader {
    background: #e2e2e2;
    width: 80%;
    height: 5px;
    display: block;
    margin: 3px auto;
    position: relative;
    overflow: hidden;
    -webkit-animation: fade-loaders 0.2s 3s forwards;
    -moz-animation: fade-loaders 0.2s 3s forwards;
    animation: fade-loaders 0.2s 3s forwards;
}

.loader:after {
    content: "";
    background: #2c3033;
    width: 0;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.loader:first-child:after {
    -webkit-animation: loader 0.4s 1s forwards;
    -moz-animation: loader 0.4s 1s forwards;
    animation: loader 0.4s 1s forwards;
}

.loader:nth-child(2n):after {
    -webkit-animation: loader 0.4s 1.5s forwards;
    -moz-animation: loader 0.4s 1.5s forwards;
    animation: loader 0.4s 1.5s forwards;
}

.loader:nth-child(3n):after {
    -webkit-animation: loader 0.4s 2s forwards;
    -moz-animation: loader 0.4s 2s forwards;
    animation: loader 0.4s 2s forwards;
}

@-webkit-keyframes loader {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-moz-keyframes loader {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes loader {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes pop {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes pop {
    0% {
        -moz-transform: scale(0);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@keyframes pop {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes fade-loaders {
    0% {
        opactity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fade-loaders {
    0% {
        opactity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-loaders {
    0% {
        opactity: 1;
    }
    100% {
        opacity: 0;
    }
}