body {
  background-color: #1f253d;
  height: 100vh;
  font-family: arial, sans-serif;
  align-items: center;
  justify-content: center;
}

.contenir {
  position: relative;
}

.pageCompte {
  background-color: #1f253d;
  font-family: arial, sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20;
}


.informationCompte {
  background:#394264;
  padding: 1rem;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, .3);
  border-top: 1px solid rgba(255, 255, 255, .3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
  text-align: center;
}

.sousTitre {
  color: white;
  opacity: .8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  color: white;
  font-weight: 500;
  opacity: 1;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.modification {
  color: #1E90FF;
}

.titre {
  color: #d0d0d2;

}

.imageFormulaire {
  height: 50%;
  width: 50%;
}

.changement-Taille-Affichage-Info-Compte{
  height: 9rem;
}