.pVraiFaux {
    margin-bottom: 0rem;
    Float: right;
    margin-top: revert;
    margin-bottom: 0px;
}

.divVraiOuFaux {
    border: solid black;
}

.inputVraiF {
    height: 50px;
    width: 470px;
    resize: none;
}