.pVraiFaux {
    margin-bottom: 0rem;
    Float: right;
    margin-top: revert;
    margin-bottom: 0px;
}

.divVraiOuFaux {
    border: dashed black 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inputVraiF {
    height: 50px;
    width: 470px;
    resize: none;
    margin-left: 5px;
}

.inputCanva {
    margin-left: 20%;
}

.left {
    display: inline-block;
    width: 60%;
    height: 100%;
}

.bot {
    display: block;
}

.right {
    display: inline-block;
}

.groupe {
    width: 10px;
}

.lecture {
    border-radius: 0% 0% 30% 0%;
}

.boiteEntete {
    width: 100%;
    display: inline-block;
}

.prenom {
    width: 75%;
    display: inline-block;
}

.date {
    width: 25%;
    display: inline-block;
}

.Entete {
    background-color: grey;
    height: 150;
}

.rond {
    border-radius: 50%;
    width: 35px;
    text-align: center;
    margin-left: 5;
}

.consigne2 {
    border: dashed black 1px;
    height: 50px;
    width: 92%;
    margin-left: 15px;
}